// Header

header {
    max-width: 1920px;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1680px) {
        max-width: 1680px;
        width: 90%;
        justify-content: space-between;
    }
    @media (max-width: 1600px) {
        max-width: 1600px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 1440px) {
        max-width: 1440px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }

    @media (max-width: 1400px) {
        max-width: 1400px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 1366px) {
        max-width: 1366px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 1024px) {
        max-width: 1024px;
        width: 85%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 768px) {
        max-width: 768px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 600px) {
        max-width: 600px;
        width: 85%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 414px) {
        max-width: 400px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 360px) {
        max-width: 360px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
    @media (max-width: 320px) {
        max-width: 320px;
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
    img {
        max-width: 55px;
        height: 55px;
        margin-right: 32px;
    }
    h5 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 20px;
        color: #4468e2;
        width: 66px;
        @media (max-width: 1440px) {
            display: none;
        }
    }
    nav {
        max-width: 601px;
        width: 100%;
        height: 26px;
        @media (max-width: 1440px) {
            display: none;
        }
        ul {
            display: flex;
            gap: 74px;

            li {
                transition-duration: 1s;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            li:hover {
                background-color: #b4c6ee;
                border-radius: 18px;
                padding-top: 5px;
                padding-right: 10px;
                padding-bottom: 5px;
                padding-left: 10px;
            }
            li a {
                font-family: "Proxima Nova Alt Lt", sans-serif;
                font-size: 22px;
                color: #1c4961;
                font-weight: 400;
            }
        }
    }
    .fa-bars {
        font-size: 36px;
        display: none;
        @media (max-width: 1440px) {
            display: block;
            cursor: pointer;
        }
    }
}

.active {
    font-family: "Proxima Nova Alt Lt", sans-serif;
    font-size: 22px;
    color: #1c4961;
    font-weight: 700;
}

.header-1st-img {
    @include header-1st-img;
    @media (max-width: 1440px) {
        max-width: 55px;
    }
}

.header-2nd-img {
    @include header-2nd-img;
    h4 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 19px;
        color: white;
        font-weight: 600;
    }
}

// Section 1

.s-1 {
    margin: 0 auto;
    .background {
        margin: 0 auto;
        max-width: 1780px;
        width: 100%;
        height: 608px;
        background-image: url("../images/lalo-hernandez-Amo08.png");
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: 1680px) {
            width: 95%;
        }
        @media (max-width: 1600px) {
            width: 95%;
        }
        @media (max-width: 1024px) {
            max-width: 1024px;
            width: 95%;
        }
        @media (max-width: 768px) {
            max-width: 768px;
            width: 95%;
        }
        @media (max-width: 600px) {
            max-width: 600px;
            width: 90%;
        }
        @media (max-width: 414px) {
            max-width: 400px;
            width: 95%;
        }

        .travel-to-explore {
            h3 {
                font-family: "Montserrat", sans-serif;
                max-width: 445px;
                height: 62px;
                font-size: 50px;
                font-weight: 800px;
                text-align: left;
                color: white;
                @media (max-width: 768px) {
                    max-width: 522px;
                    font-size: 35px;
                    text-align: center;
                }
            }
            h5 {
                max-width: 522px;
                height: 98px;
                font-family: "Proxima Nova Alt Lt", sans-serif;
                font-size: 22px;
                text-align: center;
                line-height: 33px;
                color: white;
                margin-bottom: 39px;
                @media (max-width: 384px) {
                    height: 125px;
                }
                @media (max-width: 320px) {
                    height: 130px;
                }
            }
            @media (max-width: 384px) {
                margin-bottom: 10px;
            }
        }
    }
}

.wide-box {
    max-width: 880px;
    width: 100%;
    height: 105px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        100deg,
        rgba(255, 255, 255, 1) 75%,
        rgba(130, 255, 252, 1) 85%,
        rgba(180, 198, 238, 1) 99%
    );
    background: -webkit-linear-gradient(
        100deg,
        rgba(255, 255, 255, 1) 75%,
        rgba(130, 255, 252, 1) 85%,
        rgba(180, 198, 238, 1) 99%
    );
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 1) 75%,
        rgba(130, 255, 252, 1) 85%,
        rgba(180, 198, 238, 1) 99%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b4c6ee",GradientType=1);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 1024px) {
        max-width: 780px;
    }
    @media (max-width: 800px) {
        max-width: 300px;
        height: 350px;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media (max-width: 768px) {
        max-width: 300px;
        height: 350px;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media (max-width: 320px) {
        max-width: 250px;
        height: 325px;
    }

    .check-in-out {
        max-width: 95px;
        width: 100%;
        height: 47px;
        @media (max-width: 800px) {
            max-width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
        }
        @media (max-width: 768px) {
            max-width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
        }
        h4 {
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #151515;
            text-align: left;
            margin-bottom: 9px;
        }
        h3 {
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-size: 16px;
            text-align: left;
            color: #7e7e7e;
            opacity: 0.8;
            margin-bottom: 5px;
            @media (max-width: 800px) {
                text-align: center;
            }
            @media (max-width: 768px) {
                text-align: center;
            }
        }
    }
    .explore-button {
        max-width: 187px;
        width: 100%;
        height: 63px;
        background-color: #4468e2;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1024px) {
            max-width: 130px;
        }
        @media (max-width: 800px) {
            max-width: 100px;
        }
        h2 a {
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-weight: 600;
            font-size: 21px;
            color: white;
            @media (max-width: 800px) {
                font-size: 15px;
            }
        }
    }
    .line {
        height: 55px;
        @media (max-width: 800px) {
            display: none;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    .mycard1 {
        max-width: 230px;
        height: 47px;
        display: flex;
        flex-direction: column;
        @media (max-width: 800px) {
            margin-bottom: 20px;
        }
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        h4 {
            max-width: 210px;
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #151515;
            text-align: left;
            margin-bottom: 9px;
        }
        .search-img {
            width: 14px;
            height: 14px;
        }
        .search-form {
            max-width: 175px;
            width: 100%;
            display: flex;
            @media (max-width: 800px) {
                max-width: 230px;
                justify-content: center;
                align-items: center;
            }
            @media (max-width: 768px) {
                max-width: 230px;
                justify-content: center;
                align-items: center;
            }

            #search {
                max-width: 153px;
                width: 100%;
                height: 18px;
                border: 0px;
                margin-left: 7px;
            }
        }
    }
}

::placeholder {
    color: #7e7e7e;
    opacity: 0.8;
}

// Section 2

.s-2 {
    margin: 0 auto;
    margin-top: 178px;
    @media (max-width: 1024px) {
        margin-top: 130px;
    }
    @media (max-width: 768px) {
        margin-top: 100px;
    }
    .mycontainer {
        @include mycontainer;
        @media (max-width: 1680px) {
            width: 94%;
        }
        @media (max-width: 1440px) {
            max-width: 780px;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
        }
        @media (max-width: 1024px) {
            justify-content: center;
        }
        @media (max-width: 768px) {
            justify-content: center;
        }
        .mycard2 {
            max-width: 370px;
            width: 100%;
            height: 295px;
            display: flex;
            flex-direction: column;
            background-color: white;
            filter: drop-shadow(10px 40px 25px rgba(229, 233, 246, 0.4));
            padding-top: 29px;
            padding-left: 26px;
            @media (max-width: 360px) {
                max-width: 300px;
            }
            .rectangle {
                max-width: 105px;
                width: 100%;
                height: 97px;
                border-radius: 12px;
                display: flex;
                background-color: #f0f4fc;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
            }
            h3 {
                font-family: "Proxima Nova Alt Lt", sans-serif;
                font-size: 24px;
                font-weight: 600;
                text-align: left;
                color: #0f0f0f;
                margin-bottom: 23px;
            }
            h5 {
                font-family: "Proxima Nova Alt Lt", sans-serif;
                font-size: 20px;
                text-align: left;
                color: #0f0f0f;
            }
        }
    }
}

// Section 3

.s-3 {
    margin: 0 auto;
    margin-top: 214px;
    @media (max-width: 1160px) {
        margin-top: 100px;
    }
    .mycontainer {
        @include mycontainer;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        .card-container {
            @include card-container;
            @media (max-width: 1680px) {
                width: 1300px;
                justify-content: space-evenly;
            }
            @media (max-width: 1440px) {
                max-width: 1218px;
                justify-content: center;
            }
            @media (max-width: 1024px) {
                max-width: 580px;
                flex-direction: column;
            }
            @media (max-width: 768px) {
                align-items: center;
            }
            @media (max-width: 414px) {
                max-width: 400px;
            }
            @media (max-width: 360px) {
                max-width: 300px;
            }
        }
        .mycard {
            @media (max-width: 1680px) {
                margin-bottom: 100px;
            }
            @media (max-width: 1024px) {
                margin-bottom: 30px;
            }
            @media (max-width: 768px) {
                max-width: 550px;
            }
            @media (max-width: 600px) {
                max-width: 520px;
            }
            @media (max-width: 360px) {
                max-width: 300px;
                height: 500px;
            }
            img {
                @media (max-width: 768px) {
                    max-width: 100%;
                }
                @media (max-width: 600px) {
                    max-width: 100%;
                }
            }
            .card-wrapper {
                @include card-wrapper;
            }
            @include mycard;
            .right-part {
                @include right-part;
            }
            .left-part {
                @include left-part;
                h5 {
                    font-family: "Proxima Nova Alt Lt", sans-serif;
                    font-size: 22px;
                    font-weight: normal;
                    text-align: left;
                    color: #163235;
                    max-width: 100px;
                    width: 100%;
                    height: 27px;
                }
            }
        }
        h2 {
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            color: #000000;
            padding-top: 65px;
            padding-bottom: 84px;
        }
        nav {
            max-width: 1250px;
            width: 100%;
            margin-bottom: 78px;
            @media (max-width: 1218px) {
                max-width: 1000px;
            }
            @media (max-width: 1000px) {
                max-width: 800px;
                height: 80px;
                margin-bottom: 35px;
            }
            ul {
                display: flex;
                gap: 100px;
                justify-content: center;
                height: 31px;
                padding-right: 5px;
                padding-left: 5px;
                @media (max-width: 1024px) {
                    flex-direction: column;
                    gap: 5px;
                }
                li {
                    font-family: "Proxima Nova Alt Lt", sans-serif;
                    font-size: 26px;
                    font-weight: normal;
                    font-style: normal;
                    color: #163235;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.bluedots-1 {
    position: absolute;
    top: 1607px;
    left: 7px;
}

.bluedots-2 {
    position: absolute;
    top: 2815px;
    left: 1750px;
}

// Section 4 - testimonals

.testimonals-s-2 {
    margin: 0 auto;
    margin-top: 100px;
    h2 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 40px;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        color: #000000;
        margin-bottom: 55px;
    }
}

.forms {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
.text {
    max-width: 720px;
    width: 100%;
    @media (max-width: 1024px) {
        max-width: 500px;
    }
    @media (max-width: 414px) {
        max-width: 370px;
    }
    @media (max-width: 360px) {
        max-width: 330px;
    }
    @media (max-width: 320px) {
        max-width: 290px;
    }
}

.submitform {
    max-width: 352px;
    width: 100%;
    @media (max-width: 1024px) {
        max-width: 500px;
    }
    @media (max-width: 414px) {
        max-width: 370px;
    }
    @media (max-width: 360px) {
        max-width: 350px;
    }
    @media (max-width: 360px) {
        max-width: 330px;
    }
    @media (max-width: 320px) {
        max-width: 290px;
    }
}

form {
    max-width: 720px;
    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

textarea {
    width: 100%;
    height: 288px;
    border-color: #e8e8e8;
    border-width: 2px;
    border-style: solid;
    border-radius: 14px;
    background: #f8f8f8;
    font-family: "Proxima Nova Alt Lt", sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 13px;
    font-style: normal;
    text-align: left;
    resize: none;
    padding-top: 24px;
    padding-left: 20px;
}

input[type="text"] {
    max-width: 352px;
    width: 100%;
    height: 60px;
    border-color: #e8e8e8;
    border-width: 2px;
    border-style: solid;
    border-radius: 14px;
    background: #f8f8f8;
    font-family: "Proxima Nova Alt Lt", sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 13px;
    margin-bottom: 16px;
    padding-left: 20px;
    @media (max-width: 1024px) {
        max-width: 100%;
    }
    @media (max-width: 414px) {
        max-width: 100%;
    }
}

input[type="email"] {
    font-family: "Proxima Nova Alt Lt", sans-serif;
    font-size: 20px;
    max-width: 352px;
    width: 100%;
    height: 60px;
    border-color: #e8e8e8;
    border-width: 2px;
    border-style: solid;
    border-radius: 14px;
    background: #f8f8f8;
    padding-left: 20px;
    @media (max-width: 1024px) {
        max-width: 100%;
    }
    @media (max-width: 414px) {
        max-width: 100%;
    }
}

input[type="submit"] {
    font-family: "Proxima Nova Alt Lt", sans-serif;
    max-width: 352px;
    width: 100%;
    height: 60px;
    background: #4468e2;
    border-radius: 14px;
    font-size: 20px;
    font-weight: normal;
    line-height: 56px;
    color: #ffffff;
    margin-top: 16px;
    cursor: pointer;
    @media (max-width: 1024px) {
        max-width: 100%;
    }
    @media (max-width: 414px) {
        max-width: 100%;
    }
}

::placeholder {
    color: #cecece;
}

.s-4 {
    margin: 0 auto;
    margin-top: 100px;
    h2 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 40px;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        color: #000000;
        margin-bottom: 74px;
    }
    .card-container {
        @include card-container;
        justify-content: space-around;
        margin-bottom: 179px;
        @media (max-width: 1680px) {
            max-width: 1440px;
            width: 100%;
            justify-content: space-around;
        }
        @media (max-width: 1600px) {
            max-width: 1400px;
            width: 100%;
            justify-content: space-around;
        }
        @media (max-width: 1440px) {
            max-width: 1200px;
            justify-content: space-around;
        }

        @media (max-width: 1366px) {
            max-width: 1100px;
            justify-content: space-around;
        }
        .left-card {
            @include left-card;
            @media (max-width: 1680px) {
                max-width: 700px;
            }
            @media (max-width: 1600px) {
                max-width: 650px;
            }
            @media (max-width: 1440px) {
                max-width: 550px;
            }
            @media (max-width: 1366px) {
                max-width: 500px;
            }
            @media (max-width: 1024px) {
                max-width: 570px;
            }
            @media (max-width: 768px) {
                max-width: 570px;
            }
            @media (max-width: 600px) {
                max-width: 500px;
            }
            @media (max-width: 414px) {
                max-width: 380px;
                height: 480px;
            }
            @media (max-width: 360px) {
                max-width: 310px;
                height: 310px;
            }
            h3 {
                @media (max-width: 414px) {
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                @media (max-width: 360px) {
                    font-size: 32px;
                    line-height: 51px;
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            img {
                @media (max-width: 1680px) {
                    max-width: 100%;
                }
                @media (max-width: 1600px) {
                    max-width: 100%;
                }
                @media (max-width: 414px) {
                    height: 480px;
                }
                @media (max-width: 360px) {
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
        .right-cards {
            @include right-cards;
            @media (max-width: 1680px) {
                max-width: 700px;
                width: 100%;
            }
            @media (max-width: 1600px) {
                max-width: 650px;
            }
            @media (max-width: 1440px) {
                max-width: 550px;
            }
            @media (max-width: 1366px) {
                max-width: 500px;
            }
            @media (max-width: 1024px) {
                max-width: 570px;
                justify-content: space-evenly;
                gap: 0px;
            }
            @media (max-width: 768px) {
                max-width: 570px;
            }
            @media (max-width: 600px) {
                max-width: 500px;
            }
            @media (max-width: 414px) {
                max-width: 380px;
            }
            @media (max-width: 360px) {
                max-width: 310px;
                height: 310px;
            }
            img {
                @media (max-width: 1680px) {
                    max-width: 100%;
                }
                @media (max-width: 1600px) {
                    max-width: 100%;
                }
                @media (max-width: 360px) {
                    max-width: 100%;
                    height: 100%;
                }
            }
            h4 {
                @media (max-width: 360px) {
                    font-size: 22px;
                    line-height: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.quotes {
    @include quotes;
    @media (max-width: 1680px) {
        width: 90%;
        gap: 45px;
    }
    @media (max-width: 1600px) {
        gap: 35px;
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img {
        max-width: 53px;
        width: 100%;
        height: 42px;
        margin-left: 23px;
    }
    .card-left-right {
        display: flex;
        max-width: 918px;
        width: 100%;
        height: 360px;
        padding-top: 10px;
        border-radius: 18px;
        filter: drop-shadow(10px 40px 25px rgba(229, 233, 246, 0.4));
        background: #ffffff;
        margin-top: 71px;

        @media (max-width: 1680px) {
            height: 420px;
        }
        @media (max-width: 1440px) {
            height: 450px;
        }
        @media (max-width: 1024px) {
            max-width: 700px;
            height: 450px;
            margin-top: 31px;
        }
        @media (max-width: 600px) {
            max-width: 600px;
            height: 500px;
        }
        @media (max-width: 414px) {
            max-width: 414px;
            height: 650px;
        }

        @media (max-width: 360px) {
            max-width: 350px;
            height: 700px;
        }
        @media (max-width: 320px) {
            max-width: 350px;
            height: 820px;
        }
        .shalini {
            max-width: 70px;
            width: 100%;
            height: 70px;
            position: absolute;
            top: 225px;
            left: 75px;
            @media (max-width: 1680px) {
                top: 300px;
            }
            @media (max-width: 1440px) {
                top: 320px;
            }
            @media (max-width: 1400px) {
                top: 320px;
            }
            @media (max-width: 1024px) {
                top: 300px;
            }
            @media (max-width: 600px) {
                top: 370px;
            }
            @media (max-width: 414px) {
                top: 540px;
                left: 0px;
            }
            @media (max-width: 360px) {
                top: 580px;
                left: 0px;
            }
            @media (max-width: 320px) {
                top: 700px;
                left: 0px;
            }
        }
        p {
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 38px;
            text-align: left;
            color: #848484;
            position: absolute;
            top: 225px;
            left: 195px;
            @media (max-width: 1680px) {
                top: 290px;
            }
            @media (max-width: 1440px) {
                top: 310px;
            }
            @media (max-width: 1400px) {
                top: 310px;
            }
            @media (max-width: 1024px) {
                top: 290px;
            }
            @media (max-width: 600px) {
                top: 360px;
            }
            @media (max-width: 414px) {
                top: 535px;
                left: 120px;
                font-size: 22px;
            }
            @media (max-width: 360px) {
                top: 580px;
                left: 120px;
                font-size: 19px;
            }
            @media (max-width: 320px) {
                top: 690px;
                left: 120px;
                font-size: 19px;
            }
        }
        p::first-line {
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-size: 22px;
            font-weight: 400;
            line-height: 38px;
            text-align: left;
            color: #000000;
        }
        h5 {
            max-width: 808px;
            width: 100%;
            height: 196px;
            font-family: "Proxima Nova Alt Lt", sans-serif;
            font-size: 26px;
            font-weight: 400;
            line-height: 41px;
            color: #000000;
            margin-left: 25px;
            @media (max-width: 1440px) {
                height: 300px;
            }
            @media (max-width: 414px) {
                font-size: 24px;
            }
            @media (max-width: 360px) {
                font-size: 22px;
            }
        }
    }
}

// Section 5

.s-5 {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    @media (max-width: 1160px) {
        margin-top: 200px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    h3 {
        max-width: 150px;
        width: 100%;
        height: 20px;
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #202124;
        margin-bottom: 40px;
        @media (max-width: 1160px) {
            display: inline-block;
            position: absolute;
            top: -4%;
            left: 55%;
            transform: translate(-55%, -50%);
        }
    }
    .mycontainer {
        @include mycardcontainer;
        max-width: 1160px;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 1360px) {
            max-width: 1160px;
            align-items: center;
            flex-wrap: wrap;
        }
        @media (max-width: 1160px) {
            max-width: 720px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        .s5-card {
            max-width: 360px;
            height: 350px;
            display: flex;
            flex-direction: column;
            position: relative;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
            @media (max-width: 360px) {
                max-width: 310px;
            }
            @media (max-width: 320px) {
                max-width: 290px;
            }
            h4 {
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                text-align: left;
                color: #ffffff;
                position: absolute;
                top: 28px;
                left: 40px;
            }
            h5 {
                font-family: "Montserrat", sans-serif;
                font-size: 15px;
                max-width: 360px;
                width: 100%;
                height: 180px;
                line-height: 23px;
                text-align: left;
                color: #a6adb4;
                filter: drop-shadow(10px 40px 25px rgba(229, 233, 246, 0.4));
                background: #ffffff;
                padding-top: 55px;
                padding-right: 40px;
                padding-left: 40px;
            }
        }
    }
}

// Section 6

.s-6 {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    margin-top: 58px;
    @media (max-width: 1160px) {
        margin-top: 150px;
        position: relative;
    }
    h3 {
        max-width: 200px;
        width: 100%;
        height: 20px;
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #202124;
        margin-bottom: 40px;
        @media (max-width: 1160px) {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .mycontainer {
        @include mycardcontainer;
        max-width: 1160px;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 1360px) {
            max-width: 1260px;
            flex-wrap: wrap;
        }
        @media (max-width: 768px) {
            max-width: 768px;
            justify-content: center;
            align-items: center;
        }
        .s6-card {
            max-width: 760px;
            width: 100%;
            height: 900px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: relative;
            @media (max-width: 1024px) {
                max-width: 760px;
                width: 100%;
                height: 900px;
                margin-bottom: 20px;
            }
            @media (max-width: 800px) {
                max-width: 700px;
                width: 100%;
                height: 900px;
                margin-bottom: 20px;
            }
            @media (max-width: 768px) {
                max-width: 550px;
                height: 715px;
            }
            @media (max-width: 600px) {
                max-width: 500px;
                height: 715px;
            }
            @media (max-width: 414px) {
                max-width: 370px;
                height: 715px;
            }
            @media (max-width: 360px) {
                max-width: 310px;
                height: 510px;
            }
            @media (max-width: 320px) {
                max-width: 290px;
                height: 490px;
            }
            img {
                @media (max-width: 1024px) {
                    max-width: 100%;
                    height: 100%;
                }
            }
            h5 {
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                text-align: left;
                color: #ffffff;
                position: absolute;
                top: 28px;
                left: 40px;
                position: absolute;
                top: 194px;
                left: 308px;

                @media (max-width: 1680px) {
                    top: 23%;
                    left: 50%;
                    transform: translate(-50%);
                }
                @media (max-width: 1024px) {
                    left: 50%;
                    transform: translate(-50%);
                }
                @media (max-width: 768px) {
                    top: 23%;
                    left: 50%;
                    transform: translate(-50%);
                }
                @media (max-width: 414px) {
                    top: 23%;
                    left: 55%;
                    transform: translate(-50%);
                    width: 250px;
                }
            }
        }
        .s6-card2 {
            max-width: 360px;
            width: 100%;
            height: 835px;
            display: flex;
            flex-direction: column;
            gap: 102px;
            @media (max-width: 1024px) {
                max-width: 360px;
                height: 700px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }

            @media (max-width: 360px) {
                max-width: 310px;
                height: 700px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
            @media (max-width: 320px) {
                max-width: 290px;
            }
        }
        img {
            @media (max-width: 1360px) {
                max-width: 100%;
                height: 180px;
            }
        }
    }
}

// Footer

footer {
    max-width: 1780px;
    width: 100%;
    height: 178px;
    border-radius: 18px;
    background-color: #e1e8f8;
    margin: 0 auto;
    margin-top: 178px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 1680px) {
        max-width: 1680px;
        width: 95%;
    }
    @media (max-width: 1600px) {
        max-width: 1600px;
        width: 95%;
    }
    @media (max-width: 1440px) {
        max-width: 1440px;
        width: 95%;
        justify-content: space-around;
        gap: 850px;
    }
    @media (max-width: 1400px) {
        max-width: 1400px;
        width: 95%;
        justify-content: space-around;
        gap: 810px;
    }
    @media (max-width: 1366px) {
        max-width: 1366px;
        width: 95%;
    }
    @media (max-width: 1024px) {
        max-width: 1024px;
        width: 95%;
        gap: 550px;
        margin-bottom: 0px;
    }
    @media (max-width: 800px) {
        max-width: 800px;
        width: 95%;
        gap: 400px;
    }
    @media (max-width: 768px) {
        max-width: 768px;
        width: 95%;
        gap: 350px;
    }
    @media (max-width: 600px) {
        max-width: 600px;
        width: 90%;
        gap: 240px;
    }
    @media (max-width: 414px) {
        max-width: 411px;
        width: 95%;
        gap: 100px;
    }
    @media (max-width: 360px) {
        max-width: 360px;
        width: 95%;
        gap: 0px;
    }
    @media (max-width: 320px) {
        max-width: 320px;
        width: 95%;
        gap: 0px;
    }

    img {
        max-width: 45px;
        width: 100%;
        height: 45px;
    }
    h5 {
        font-family: "Proxima Nova", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 60px;
        color: #000000;
        @media (max-width: 1550px) {
            display: none;
        }
    }
    .fa-bars {
        font-size: 36px;
        display: none;
        @media (max-width: 1550px) {
            display: block;
            cursor: pointer;
        }
    }
    nav {
        max-width: 710px;
        width: 100%;
        height: 26px;
        @media (max-width: 1550px) {
            display: none;
        }
        ul {
            display: flex;
            gap: 74px;
            li {
                transition-duration: 1s;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            li:hover {
                background-color: #4468e2;
                border-radius: 18px;
                padding-top: 5px;
                padding-right: 10px;
                padding-bottom: 5px;
                padding-left: 10px;
            }
            li a {
                font-family: "Proxima Nova", sans-serif;
                font-size: 24px;
                color: #000000;
                opacity: 0.55;
                font-weight: 400;
            }

            li a:hover {
                color: white;
            }
        }
    }
    .footer-images {
        max-width: 175px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.active-2 {
    font-family: "Proxima Nova", sans-serif;
    font-size: 24px;
    color: #000000;
    opacity: 0.55;
    font-weight: 700;
}

// Contacts

.contacts {
    @include contacts;
    h5 {
        font-family: "Proxima Nova", sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: #848484;
        line-height: 25px;
        max-width: 260px;
        width: 100%;
    }
    h5::first-line {
        font-family: "Proxima Nova", sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #000000;
    }
}

.map {
    max-width: 850px;
    width: 100%;
    height: 465px;
    @media (max-width: 1024px) {
        max-width: 750px;
    }
    @media (max-width: 768px) {
        max-width: 700px;
    }
    @media (max-width: 600px) {
        max-width: 550px;
    }
    @media (max-width: 414px) {
        max-width: 380px;
        height: 450px;
    }
    @media (max-width: 384px) {
        max-width: 350px;
        height: 450px;
    }
    @media (max-width: 360px) {
        max-width: 330px;
        height: 430px;
    }
    @media (max-width: 320px) {
        max-width: 290px;
        height: 390px;
    }
}

.contacts-container {
    @include mycontainer;
    max-width: 1500px;
    width: 100%;
    justify-content: space-evenly;
    height: 600px;
    @media (max-width: 1024px) {
        flex-direction: column;
        max-width: 750px;
        align-items: center;
        gap: 20px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        max-width: 700px;
        align-items: center;
        gap: 20px;
    }
    @media (max-width: 600px) {
        flex-direction: column;
        max-width: 550px;
        align-items: center;
        gap: 20px;
    }
    @media (max-width: 414px) {
        flex-direction: column;
        max-width: 380px;
        align-items: center;
        gap: 20px;
    }
    @media (max-width: 384px) {
        flex-direction: column;
        max-width: 350px;
        align-items: center;
        gap: 20px;
    }
    @media (max-width: 360px) {
        flex-direction: column;
        max-width: 330px;
        align-items: center;
        gap: 20px;
    }
    @media (max-width: 320px) {
        flex-direction: column;
        max-width: 290px;
        align-items: center;
        gap: 20px;
    }
}

// Places

.myplacescontainer {
    @include myplacescontainer;
    @media (max-width: 1024px) {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .mycardcontainer {
        @include mycardcontainer;
        @media (max-width: 1024px) {
        }
        .places-card {
            @include mycards(column, 270px);
            height: 320px;
            @media (max-width: 1360px) {
                @include mycards(column, 320px);
            }
            h1 {
                @include myh1;
            }
            h2 {
                @include myh2;
            }
        }
        .places-card img {
            @extend %mycardimages;
            @media (max-width: 1360px) {
                max-width: 320px;
            }
        }
    }
    .places {
        max-width: 200px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
            max-width: 400px;
        }
        h2 {
            width: 100%;
            height: 20px;
            margin-bottom: 14px;
            font-family: "Proxima Nova", sans-serif;
            font-size: 24px;
            text-align: left;
            font-weight: 700;
            color: #000000;
            @media (max-width: 1024px) {
                text-align: center;
            }
        }
        h3 {
            font-family: "Proxima Nova", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #848484;
            @media (max-width: 1024px) {
                max-width: 100%;
                text-align: center;
            }
        }
    }
}
