@mixin header-1st-img {
    max-width: 130px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

@mixin header-2nd-img {
    max-width: 105px;
    height: 35px;
    background-color: #4468e2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-width: 1px;
    padding-top: 9px;
    padding-right: 19px;
    padding-bottom: 6px;
    padding-left: 19px;
    h4 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        color: white;
        font-size: 19px;
        width: 68px;
        height: 22px;
        text-align: center;
    }
    h4 a {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 19px;
        color: white;
        font-weight: 600;
    }
}

@mixin mycontainer {
    max-width: 1780px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@mixin card-container {
    max-width: 1780px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin mycard {
    width: 570px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    img {
        width: 552px;
        height: 398px;
    }
    h3 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 38px;
        font-weight: normal;
        color: #163235;
        max-width: 230px;
        width: 100%;
        height: 43px;
        margin-bottom: 15px;
        margin-left: 8px;
        @media (max-width: 360px) {
            font-size: 32px;
        }
    }
    h4 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 26px;
        font-weight: normal;
        color: #163235;
        max-width: 565px;
        width: 100%;
        margin-bottom: 25px;
        margin-left: 8px;
        @media (max-width: 360px) {
            font-size: 26px;
        }

    }
}

@mixin left-part {
    max-width: 145px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;
    img {
        width: 33px;
        height: 33px;
        margin-bottom: 16px;
        margin-right: 14px;
    }
}

@mixin right-part {
    max-width: 240px;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h4 {
        max-width: 125px;
        width: 100%;
        height: 36px;
        margin-bottom: 12px;
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 31px;
        font-weight: normal;
        text-align: right;
        color: #163235;
    }
    h5 {
        font-family: "Proxima Nova Alt Lt", sans-serif;
        font-size: 22px;
        font-weight: normal;
        text-align: right;
        color: #163235;
        width: 100%;
        height: 26px;
    }
}

@mixin card-wrapper {
    max-width: 540px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

@mixin left-card {
    display: flex;
    max-width: 965px;
    width: 100%;
    height: 587px;
    border-radius: 15px;
    border-color: #000000;
    border-width: 1px;
    img {
        max-width: 965px;
        width: 100%;
        height: 587px;
    }
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.08));
    h3 {
        max-width: 470px;
        width: 100%;
        height: 190px;
        font-family: "Segoe UI", sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin right-cards {
    max-width: 785px;
    width: 100%;
    height: 587px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border-color: #000000;
    border-width: 1px;
    gap: 39px;
    h4 {
        font-family: "Segoe UI", sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 47px;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card-1 {
        display: flex;
        position: relative;
        max-width: 785px;
        width: 100%;
        height: 277px;
        border-radius: 15px;
        @media (max-width: 1744px) {
            max-width: 810px;
        }
    }
    .card-2 {
        position: relative;
        display: flex;
        max-width: 785px;
        width: 100%;
        height: 277px;
        border-radius: 15px;
        @media (max-width: 1744px) {
            max-width: 810px;
        }
    }
}

@mixin quotes {
    max-width: 1780px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

@mixin contacts {
    display: flex;
    height: 105px;
    max-width: 350px;
}

@mixin myplacescontainer {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

@mixin mycardcontainer {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media (max-width: 1024px) {
        max-width: 600px;
        justify-content: center;
        justify-content: space-between;
    }
    @media (max-width: 600px) {
        max-width: 550px;
        justify-content: center;
        justify-content: space-between;
    }
    @media (max-width: 414px) {
        max-width: 400px;
        justify-content: center;
    }
}

@mixin mycards($direction, $width) {
    display: flex;
    flex-direction: $direction;
    max-width: $width;
}
